<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Edit Pelanggan </title>
</head>
<body>
    <form action="" method="POST">
        {%for data in datas%}
        <input required type="text"  name="customer_name"  value="{{data[1]}}"><br><br>
        <input required type="text"  name="address"  value="{{data[2]}}"><br><br>
        <input required type="text"  name="phone_number"  value="{{data[3]}}"><br><br>
        <select   name="status" value="{{data[5]}}">
            <option value="active">active</option>
            <option value="inactive">inactive</option>
        </select><br><br>
        <button type="submit" name="change"  value="{{data[0]}}">Save Changes</button>
        {%endfor%}
    </form>
</body>
</html>