<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Pelanggan baru </title>
</head>
<body>
    <form action="" method="POST">
        <input required type="text"  name="customer_name" placeholder="masukkan nama" ><br><br>
        <input required type="text"  name="address" placeholder="masukkan alamat" ><br><br>
        <input required type="text"  name="phone_number" placeholder="masukkan no.telpon" ><br><br>
        <select   name="status">
            <option value="active">active</option>
            <option value="inactive">inactive</option>
        </select><br><br>
        <button>Submit</button>
    </form>
</body>
</html>