<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>
<header>
    <h1>Main Menu</h1> 
</header>
<body>
    <a href= "/pelanggan" style="background-color:beige;"> Pelanggan</a> 
    <a href= "/invoice" style="background-color:aliceblue;">Invoice</a>
    <a href= "/piutang_perusahaan" style="background-color:rgb(221, 255, 154);".>Piutang</a>
    <a href= "/admin" style="background-color:rgb(255, 188, 223);">Admin</a>
</body>
</html>