<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu AF</title>
    <link rel="stylesheet" href="../static/css/main_menu_af_css.css">
</head>
<body>
<div class="main-menu-finance flex-col-hstart-vstart clip-contents">
    <div class="group-196 flex-col-hcenter">
        <img
                src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/1mac69s6s2pj-6%3A334?alt=media&token=e8b48d43-2196-49a4-b432-259262d03ce1"
                alt="Not Found"
                class="logo"
        />
        <div class="group-189 flex-row">
            <div class="group-568">
                <a href="/pelunasan_invoice">
                    <img
                            src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/1mac69s6s2pj-6%3A390?alt=media&token=0737daac-b156-4c7d-8368-feaaae122ea0"
                            alt="Not Found"
                            class="icon-money"
                    />
                </a>
            </div>
            <div class="group-205">
                <a href="/history">
                <img
                        src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/1mac69s6s2pj-6%3A352?alt=media&token=2c699099-f8b1-4e41-868e-f1b5251c255b"
                        alt="Not Found"
                        class="icon-book"
                />
                </a>
            </div>
        </div>
        <div class="group-655 flex-row">
            <p class="txt-1072 flex-hcenter">Debt Payment</p>
            <p class="txt-656 flex-hcenter">History</p>
        </div>
    </div>
</div>
</body>
</html>