<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
    <link rel="stylesheet" href="../static/css/main_manager_css.css">
</head>
<body>
    <div class="main-menu-manager flex-col-hstart-vstart clip-contents">
      <div class="group-964 flex-col-hcenter">
          <img
          src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/53oj4nfw79u-6%3A361?alt=media&token=c3078b84-cfce-436e-bf99-572b4adbbb62"
          alt="Not Found"
          class="logo"
        />
        <div class="group-196 flex-row">
          <div class="group-3109">
              <a href="/invoice"></a>
            <img
              src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/53oj4nfw79u-6%3A595?alt=media&token=de8a4993-dc88-4429-bec5-8832c65ac978"
              alt="Not Found"
              class="icon-book-open-outline"
            />
          </div>
          <div class="group-962">
              <a href="/piutang_perusahaan">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/53oj4nfw79u-6%3A596?alt=media&token=02b6a2f2-92d6-49ce-99ba-c8b8118fe5fb"
              alt="Not Found"
              class="icon-money"
            />
                  </a>
          </div>
        </div>
        <div class="group-849 flex-row">
          <p class="txt-778 flex-hcenter">Invoices</p>
          <p class="txt-541 flex-hcenter">Debts</p>
        </div>
        <div class="group-196 flex-row">
          <div class="group-667">
              <a href="/new_customer">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/53oj4nfw79u-11%3A615?alt=media&token=adddfb93-e5b5-4d19-99ca-d4cb69cfcfce"
              alt="Not Found"
              class="icon-people"
            />
                  </a>
          </div>
          <div class="group-725">
              <a href="/admin">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/53oj4nfw79u-11%3A619?alt=media&token=3169593f-a7c2-4183-8af3-9bd8948af53b"
              alt="Not Found"
              class="icon-monitor"
            />
                  </a>
          </div>
        </div>
        <div class="group-767 flex-row">
          <p class="txt-784 flex-hcenter">Add Customers</p>
          <p class="txt-541 flex-hcenter">Admins</p>
        </div>
      </div>
    </div>
</body>
</html>