<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Menu AS</title>
    <link rel="stylesheet" href="../static/css/main_menu_as_css.css">
</head>
<body>
 <div class="main-menu-sales flex-col-hstart-vstart clip-contents">
      <div class="group-694 flex-col-hcenter">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/vv54hkd2f1e-4%3A305?alt=media&token=bd2bdb36-b045-483e-9b34-de11eaf9f826"
          alt="Not Found"
          class="logo"
        />
        <div class="group-625 flex-row">
          <div class="group-837">
              <a href="/sales_invoice_form">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/vv54hkd2f1e-11%3A620?alt=media&token=1bd1caae-2331-445a-a97c-fcc5dce5bb10"
              alt="Not Found"
              class="icon-book-open-outline"
            />
                  </a>
          </div>
          <div class="group-422">
              <a href="/history">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/vv54hkd2f1e-4%3A325?alt=media&token=29f4b795-3686-40f2-847b-7496f36d5df6"
              alt="Not Found"
              class="icon-book"
            />
                  </a>
          </div>
        </div>
        <div class="group-262 flex-row">
          <p class="txt-296 flex-hcenter">New Sales Invoice</p>
          <p class="txt-138 flex-hcenter">History</p>
        </div>
      </div>
    </div>
</body>
</html>