<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pelanggan</title>
    <style>
        th,td{
            border: 1px solid black ;
        }
    </style>
</head>
<header>
    <h1>Pelanggan</h1>
</header>
<body>
    
    <input type="text" placeholder="search for customers"><button>search</button>
    <a href="/new_customer">Create New Customer</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Nama Pelanggan</th>
            <th>Alamat</th>
            <th>No.telp</th>
            <th>status</th>
            <th>D/E</th>
        </tr>
        <form action="" method="POST">
        <tr>
            {%for customer in customers%}
            <td>{{customer[0]}}</td> 
            <td>{{customer[1]}}</td>
            <td>{{customer[2]}}</td>
            <td>{{customer[3]}}</td>
            <td>{{customer[5]}}</td>
            <td><button type="submit" name="delete" value="{{customer[0]}}">delete</button>
                <!-- <a href="/edit_pelanggan?id={{customer[0]}}">edit</a> </td> -->
                <button type="submit" name='edit' value="{{customer[0]}}">edit</button></td>
        </tr>
        {%endfor%}
    </form>
    </table>

</body>
</html>