<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pelanggan</title>
    <link rel="stylesheet" href="../static/css/pelanggan.css">

</head>
<body>

<a href="/new_customer" class="txt-0108">Create New Customer</a>
<form method="post">
    <!-- <div class="pembayaran-piutang flex-col-hstart-vstart clip-contents"> -->
        <div class="pembayaran-piutang">
        <div class="group-353">
            <img
                    src="https://firebasestorage.googleapis.com/v0/b/unify-bc2ad.appspot.com/o/2l9kxfc1fke-6%3A567?alt=media&token=4062d226-13a6-4ef6-8ab1-1aa18ab1134c"
                    alt="Not Found"
                    class="logo"
            />
    <table>
        <form action="" method="POST">
        <tr>
            <th class="txt-0108">ID</th>
            <th class="txt-0108">Nama Pelanggan</th>
            <th class="txt-0108">Alamat</th>
            <th class="txt-0108">No.telp</th>
            <th class="txt-0108">D/E</th>
        </tr>
        {%for customer in customers%}
        <tr>
            <td class="txt-0108">{{customer[0]}}</td>
            <td class="txt-0108">{{customer[1]}}</td>
            <td class="txt-0108">{{customer[2]}}</td>
            <td class="txt-0108">{{customer[3]}}</td>
            <td class="txt-0108">
                <button name="delete" value="{{customer[0]}}" class="txt-337">delete</button>
                <button name="disable" value="{{customer[0]}}" class="txt-337">disable</button>
                <a href="{{url_for('edit', id=customer[0])}}"><button name="edit" class="txt-337">edit</button>
                </a>
            </td>

        </tr>
        {%endfor%}
    </table>
</form>

</body>
</html>