<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pelanggan</title>
</head>
<header>
    <h1>Pelanggan</h1>
</header>
<body>

<a href="/new_customer">Create New Customer</a>
<form method="post">
    <table>
        <tr>
            <th>ID</th>
            <th>Nama Pelanggan</th>
            <th>Alamat</th>
            <th>No.telp</th>
            <th>D/E</th>
        </tr>
        {%for customer in customers%}
        <tr>
            <td>{{customer[0]}}</td>
            <td>{{customer[1]}}</td>
            <td>{{customer[2]}}</td>
            <td>{{customer[3]}}</td>
            <td>
                <button name="delete" value="{{customer[0]}}">delete</button>
                <button name="disable" value="{{customer[0]}}">disable</button>
                <a href="{{url_for('edit', id=customer[0])}}"><button name="edit">edit</button>
                </a>
            </td>

        </tr>
        {%endfor%}
    </table>
</form>

</body>
</html>