<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pelunasan invoice</title>
</head>
<header>
    <h1>Pelunasan Invoice</h1>
</header>
<body>
    <h1>Invoice History</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Tanggal</th>
            <th>ID Pelanggan</th>
            <th>Total</th>
            <th>Paid?</th>
        </tr>
        {% for data in invoices%}
        <tr>
            <td >{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <form method="post">
                <td><input type="checkbox" name='Checkbox' value=""{{ data[0] }}" ></td>
            </form>
        </tr>
        {%endfor%}
    </table>
    <input type="submit" name="submit button">
</body>
</html>