<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Piutang Perusahaan </title>
    <style>
        th,td{
            border: 1px solid black ;
        }
    </style>
</head>

<body>
    <h1>Piutang Perusahaan</h1>

    <label for="piutangid">ID</label> <input type="text"> <button>Search</button>
    <p> sort by </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Tanggal</th>
            <th>Total</th>
        </tr>
        <tr>
            <td></td> 
            <td></td>
            <td></td>
        </tr>
    </table>
</body>

</html>
