<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Invoice Form</title>
</head>
<body>
  <h1>Sales Invoice Form</h1>
  <form method="post">
   <label >Date</label>
    <input type="date" value="{{request.form['date']}}" name="date"></input> <br> <br>
    <label>Name Customer</label>
    <input type="text" placeholder="Name Customer" name="namecustomer"> <br> <br>
    <label >Total</label>
    <input type="number" placeholder="Total" value="{{request.form['total']}}" name="total">  <br> <br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>