<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Invoice Form</title>
</head>
<body>
  <h1>Sales Invoice Form</h1>
  <form method="post">
    <label name="date">Date</label>
    <input type="date" value="{{request.form['date']}}"></input> <br> <br>
    <label name="name customer">Name Customer</label>
    <input type="text" placeholder="Name Customer" value="{{request.form['customer_name']}}"></input> <br> <br>
    <label name="total">Total</label>
    <input type="number" placeholder="Total" value="{{request.form['total']}}"></input>  <br> <br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>